{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Profile edit{% endblock %}

{% block body %}
<div>
    <div class="col-md-6 offset-md-3">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
